.container{
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.add-user button {
    height: 30px;
    width: 100px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 1px solid blue;
}

.users button {
    height: 30px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1px solid red;
}

.users{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.user-list{
    width: 260px;
    border: 1px solid #ddd;
    margin-top: 20px;
}